---
layout: page
title: Lukem.net
description: Web development services
locale: en
---

<img src="/logo.png" alt="Lukem.net logo">
<p><b>Lukem.net Łukasz Wójcik</b><br/>
  Plac Bankowy 2<br/>
  00-095 Warszawa</p>
<p>NIP: 7171734155<br/>
REGON: 146556780</p>
<p><abbr title="International Bank Account Number">IBAN</abbr>: PL&nbsp;75&nbsp;2490&nbsp;0005&nbsp;0000&nbsp;4530&nbsp;4440&nbsp;7466</p>