<ul class="menu">
  <li><a href="/work" class="{% if slug === 'work' %}selected{% endif %}">Our Work</a></li>
  <li><a href="/services" class="{% if slug === 'services' %}selected{% endif %}">Services</a></li>
  <li><a href="/about" class="{% if slug === 'about' %}selected{% endif %}">About</a></li>
  <li><a href="/contact" class="{% if slug === 'contact' %}selected{% endif %}">Contact</a></li>
</ul>