---
layout: page
type: subpage
---

<div class="row">
  <div class="column slideInFromLeft">
    {{ content|safe }}
    <p>
      <a href="/contact/" class="btn">Contact us</a>
    </p>
  </div>
  <div class="column column-offset-10 column-33 slideInFromRight">
    <div class="icon">
      {{ icon|safe }}
    </div>
  </div>
</div>